
form{
	width: 400px;
	margin: auto;
	color: white;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 200;
	font-family: 'Nunito Sans', sans-serif;
}
.contacto{
	border-radius: 19px;
	padding: 45px 45px 20px;
	margin: 30px auto 50px;
	background-color: rgba(255, 255, 255, 0.20);
}
.contacto label{
	display: block; 
}
.contacto div{
	margin-bottom: 15px;
}
.contacto input[type='text'],
.contacto input[type='tel'],
.contacto textarea{
	padding: 7px 6px;
	width: 100%;
	border: 1px solid #CED5D7;
	resize: none;
	margin: 5px 0;
}
.contacto input[type='text']:focus,
.contacto input[type='tel']:focus,
.contacto textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='text'].invalido,
.contacto input[type='tel'].invalido, 
.contacto textarea.invalido{
	box-shadow:0 0 0 3px #FFC9C9;
}
.contacto input[type='submit']{
	border: 1px solid #fff;
	color: #333;
	padding: 8px 16px;
	border-radius: 5px;
	background: #F9C7B6;
	font-weight: bold;
	transition: all .3s;
	transition-delay: 0.2s;
}
.contacto input[type='submit']:hover{
	background: #3e3e3e; 
	color: #fff;
}
.contacto input[type='submit']:active{
	background: #F9C7B6; 
	color: #fff;
}
.error{
    background-color: #da9e9e;
    border-radius: 4px 4px 4px 4px;
    color: white;
    font-weight: 300;
    margin-left: 16px;
    margin-top: 6px;
    padding: 6px 12px;
    font-size: 10px;
    letter-spacing: 1px;
    position: relative;
}
.error:before{
    border-color: transparent transparent #da9e9e transparent;
    border-style: solid;
    border-width: 6px 8px;
    content: "";
    display: block;
    height: 0;
    left: 10px;
    position: absolute;
    top: -12px;
    width: 0;
}
.result_fail{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.result_ok{
    background: none repeat scroll 0 0 #1EA700;
    border-radius: 20px 20px 20px 20px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
}
.btn{
	text-align: right;
}

@media (max-width: 480px) {
	form.contacto{
			width: 70%;
			margin-top: 10px;
	}
	.btn{text-align: center;}
}	
.btn input[type='submit']{
	width: 100%;
}